{% extends 'layout.html' %}
    {% block content %}
    <h3 class="text-center mt-3">PAYMENTS RECEIVED</h3>
    <hr class="mb-5">
        {% for pay in pays.items %}
            <article class="media content-section mt-4">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pay.payer.client_image) }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{{ url_for('staff_clients', email=pay.payer.author.email) }}">{{ pay.payer.author.full_name }}</a>
                            <small class="text-muted">{{ pay.payment_date.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <h2><a href="{{ url_for('client',id=pay.payer.id) }}" class="article-title">{{ pay.payer.full_name }}</a></h2>
                        <div class="row">
                            <div class="col-md-4">
                                <h6>Loan Amount</h6>
                                <h5>{{ pay.payer.loan_amount }}</h5>
                            </div>
                            <div class="col-md-4">
                                <h6>Loan Balance</h6>
                                <h5>{{ pay.payer.loan_balance }}</h5>
                            </div>
                            <div class="col-md-4">
                                <h6>Amount Paid</h6>
                                <h5>{{ pay.payer.loan_amount }}</h5>
                            </div>
                        </div>
                    </div>
            </article>
        {% endfor %}
        {% for page_num in pays.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if pays.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}

        {% endfor%}
    {% endblock content %}
    {% block sidebar %}
        <div class="content-section">
            <h4>Client List</h4>
            <p class="text-muted">List of clients under {{current_user.full_name}}</p>
            <ul>
                {% for client in client %}
                    <li class="mb-2"><a href="{{ url_for('client', id=client.id) }}">{{client.full_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}